{% extends "layout.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/cadastro.css"%}"/>
{% endblock %}

{% block title %}Novo convênio{% endblock %}

{% block conteudo %}
<form role="form" action="{% url 'alterar_convenio' id %}" method="POST">
{% csrf_token %}

   <div class="row text-center">
          <div class="col-md-4 col-md-offset-4" style="background-color: white;"> 
     
              <h2>Novo Convênio</h1>
              &nbsp;
              <input type="text" class="form-control cnpj text-center" id="CNPJ" placeholder="CNPJ" name="cnpj" value="{{ cnpj }}" disabled = "true">
              &nbsp;
              <input type="text" class="form-control text-center" id="razao_social" placeholder="Razão Social" name="razao_social" value="{{ razao_social}}">
              &nbsp;
              <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px; margin-bottom:20px">Salvar</button> 
          </div>

  </div>
</form>
{%  endblock %}
