{% extends "layout.html" %}
{% load static %}

{% block css %}{% endblock %}

{% block title %}Novo convênio{% endblock %}

{% block javascript %} 
  <script src="{% static "js/jquery.mask.js"%}" ></script>
  <script>
      $(document).ready(function(){
        $('.cnpj').mask('00.000.000/0000-00');
      });
  </script>
{% endblock %}

{% block conteudo %}
<h1>Cadastro de novo convênio:</h1>
<form role="form" action="{% url 'registrar_convenio' %}" method="POST">
{% csrf_token %}
  <div class="row">
  	<div class="form-group">
		<div class="col-md-4" >
	    	<label for="especializacao">CNPJ</label>
	 	    <input type="text" class="form-control cnpj" id="razao_social" placeholder="CNPJ" name="cnpj">
	 	</div>
  	</div>
  </div>

  <div class="row">
    <div class="form-group">
    <div class="col-md-4" >
        <label for="especializacao">Razão Social</label>
        <input type="text" class="form-control" id="razao_social" placeholder="Razão Social" name="razao_social">
    </div>
    </div>
  </div>

  &nbsp;
  <div class="row">
    <div class="form-group">
    	<div class="col-xs-2">
    		<button type="submit" class="btn btn-default">Cadastrar!</button>
    </div>
  </div>
</form>
{%  endblock %}
