{% extends "layout.html" %}
{% load static %}

{% block css %}{% endblock %}

{% block title %}Convênios{% endblock %}

{% block conteudo %}

	<a href="{% url 'registrar_convenio' %}"> <button type="button" class="btn btn-primary"> Novo convenio </button> </a>
	<h1 class="lead">Convenios cadastrados no sistema</h1>
	<table class="table table-striped table-hover">
        <thead  class="tabela_cabecalho">
            <tr>
                <th style="text-align:left"> CNPJ</th>
                <th> Razao social</th>
                <th style="text-align:center"> Editar</th>
                <th style="text-align:center"> Excluir</th>
            </tr>
        </thead>
        <tbody>
        {% for c in convenios %}
            <tr>
                <td>{{ c.cnpj }}</td>
                <td>{{ c.razao_social }}</td>
                <td align="center"><a href="{% url 'alterar_convenio' c.id %}"> <button type="button" class="btn btn-success"> Editar </button> </a>
                </td>
                <td align="center">
                    <form role="form" action="{% url 'remover_convenio' c.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="remover">Remover</button>    
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}