{% for c in consultas %}
    {% if c.checkin %}
    <tr class="success">
        <td>{{ c.cliente.first_name }} {{ c.cliente.last_name }}</td>
        <td>{{ c.data_hora }}</td>
        <td>{{ c.medico.first_name }}</td>
        <td>Realizado</td>
    </tr>
    {% else %}
    <tr class="warning">
        <td>{{ c.cliente.first_name }} {{ c.cliente.last_name }}</td>
        <td>{{ c.data_hora }}</td>
        <td>{{ c.medico.first_name }}</td>
        <td>Não realizado</td>
    </tr>
    {% endif %}
{% endfor %}
