{% extends "layout_base.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "css/index.css"%}"/>{% endblock %}

{% block title %}Bem Vindo!{% endblock %}

{% block conteudo_base %}

	<div class="d_azul">
		<h1>BEM VINDO AO DAS!</h1> <br>
		<h2>Agende consultas médicas em qualquer lugar!</h2>
	</div>

	<div class="d_branco">


		<div class="row">
            <div class="col-md-1">
            </div>			
            <div class="col-md-4">
			<h1 class="titulo">Como funciona?</h1>
			</div>
		</div>

		<div class="row text-center">

		</div>

		<div class="row">
              
            <div class="col-md-1">
            </div>

            <div class="col-md-10 text-center">

				<div class="col-md-3">
		           	<div class="quadrado">
			    		<img src="{% static "media/index/reserva.png" %}" width="200">
			    	</div>
			    	<p>Qualquer paciente marca sua consulta atraves do site</p>

	            </div>

	            <div class="col-md-3">
	            	<div class="quadrado">
	            		<div class="q_l1">
	            			<img src="{% static "media/index/medico_icon.png" %}" width="60">
	            			<span class="mais">+</span>
	            			<img src="{% static "media/index/calendario_icon.png" %}" width="60">
	            		</div>
	            		<img src="{% static "media/index/qrCode_icon.png" %}" width="40">
	            	</div>
	            	<p>Cada consulta gera um QRCode unico</p>
	            </div>

	            <div class="col-md-1">
	            	<div class="quadrado">
	            		<img class="seta" src="{% static "media/index/seta.png" %}" width="50">
	            	</div>
				</div>

	            <div class="col-md-2">
	            	<div class="quadrado">
	            		<img src="{% static "media/index/phone_icon.png" %}" width="150">
	            	</div>
	            	<p> Check-in via QRCode</p>
				</div>

				<div class="col-md-1">
	            	<div class="quadrado">
	            		<img class="seta" src="{% static "media/index/seta.png" %}" width="50">
	            	</div>
				</div>

				<div class="col-md-2">
					<div class="quadrado">
		            	<img src="{% static "media/index/fila_icon.png" %}" width="100">
		            </div>
		            <p>Fila de espera em tempo-real</p>
	            </div>
			</div>

			<div class="col-md-1">
            </div>

		</div>

	</div>


{%  endblock %}
