body{
	background-image: url('/static/media/bkg-ptn.png');
	background-repeat: repeat;
}

*{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.table, .tabela_cabecalho th{
    text-align: center;
}

.conteudo{
	height: auto;
	width: 100%;
	padding-top: 50px;
	overflow: visible;

}

.conteudo_in{
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-left: 4%;
	padding-right: 4%;
}

.conteudo_in_in{
	padding: 2%;
	height: auto;
	background-color: white;
}

.msg_bg_error a, .msg_bg_success a, .msg_bg_info a, .msg_bg_40 a, .msg_bg_25 a, .msg_bg_20 a{
	right: 15px;
	position: fixed;
	color: white;
	font-weight: 300;
	text-decoration: none;
}

.msg_bg_error a:hover, .msg_bg_success a:hover, .msg_bg_info a:hover, .msg_bg_40 a:hover, .msg_bg_25 a:hover, .msg_bg_20 a:hover{
	color: #dfdfdf;
	text-decoration: none;
}

.msg_padding{
	width: 100%;
	height: 27px;
	background-color: transparent;
}

.msg_bg_error, .msg_bg_40{
	position: fixed;
	color: white;
	background-color: #f25880;
	width: 100%;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.msg_bg_success, .msg_bg_25{
	position: fixed;
	color: white;
	background-color: #14c176;
	width: 100%;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.msg_bg_info, .msg_bg_20{
	position: fixed;
	color: white;
	background-color: #4bd1ee;
	width: 100%;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.msg_bg_success h3, .msg_bg_error h3, .msg_bg_info h3, .msg_bg_40 h3, .msg_bg_25 h3, .msg_bg_20 h3{
	font-weight: 300;
	font-size: 12pt;
	margin: 0;
}

#cabecalho {
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #EDF7F5),
	color-stop(1, #75EBAC)
);
background-image: -o-linear-gradient(bottom, #EDF7F5 0%, #75EBAC 100%);
background-image: -moz-linear-gradient(bottom, #EDF7F5 0%, #75EBAC 100%);
background-image: -webkit-linear-gradient(bottom, #EDF7F5 0%, #75EBAC 100%);
background-image: -ms-linear-gradient(bottom, #EDF7F5 0%, #75EBAC 100%);
background-image: linear-gradient(to bottom, #EDF7F5 0%, #75EBAC 100%);
}

.tabela_cabecalho{
	background-color: black;
	color: white;
}

.registrar{
	background-color: #eee;
}

.warning{
	border-color: red;
}

.linha_direita{
	border-right: 1px solid #cccccc;
}

.header_registro{
	padding-left: 20px;
	padding-bottom: 40px;
}