{% extends "layout.html" %}
{% load static %}

{% block css %}
{% endblock %}

{% block title %}Nova secretaria{% endblock %}

{% block javascript %} 
  <script src="{% static "js/jquery.mask.js"%}" ></script>
  <script>
      $(document).ready(function(){
        $('.rg').mask('000.000.000-00',{reverse: true} );
        $('.cpf').mask('000.000.000-00', {reverse: true});
        $('.telefone').mask('(00)00000-0000');
      });
  </script>
{% endblock %}

{% block conteudo %}
<form role="form" action="{% url 'registrar_secretaria' %}" method="post">
  {% csrf_token %}


            
    <div class="row">

        <div class="col-md-1">
        </div>

        <div class="col-md-6">
        <h2 class="form-signin-heading center-text">Nova Secretaria</h2>
        </div>

        <div class="col-md-4">
        </div>

        <div class="col-md-1">
        </div>


    </div>

    <div class="row">


        <div class="col-md-6 linha_direita">
              
            <div class="col-md-2">
            </div>

              <div class="col-md-8">

              <label for="firstNameInput" style="margin-top:20px">Primeiro Nome</label>
              <input type="text" class="form-control" id="firstNameInput" placeholder="Primeiro Nome" name="nome" value="{{ nome }}">
      
              <label for="lastName"> Sobrenome</label>
              <input type="text" class="form-control" id="lastNameInput" placeholder="Sobrenome" name="sobrenome" value="{{ sobrenome }}">  

              <label for="emailInput">E-mail</label>
              <input type="email" class="form-control" id="emailInput" placeholder="E-mail" name="email" value="{{ email }}">     

              <label for="userPassword">Senha</label>
              <input type="password" class="form-control"id="passwordInput" placeholder="Senha" name="senha">
 
              <label for="userPassword">Confirmar Senha</label>
              <input type="password" class="form-control"id="passwordInput" placeholder="Confirmar Senha" name="confirmar_senha">

            </div>
            <div class="col-md-2">
            </div>

              
          </div>

           <div class="col-md-6 linha_direita">
              
            <div class="col-md-2">
            </div>

              <div class="col-md-8">

              <label for="userPassword" style="margin-top:20px">Endereço</label>
              <input type="text" class="form-control"id="" placeholder="Endereço" name="endereco" value="{{ endereco }}">
   
              <label for="userPassword">Telefone</label>
              <input type="text" class="form-control telefone"id="telefone" placeholder="Telefone" name="telefone" value="{{ telefone }}">
   
              <label for="userPassword">RG</label>
              <input type="text" class="form-control rg"id="rg" placeholder="RG" name="rg" value="{{ rg }}">
  
              <label for="userPassword">CPF</label>
              <input type="text" class="form-control cpf"id="cpf" placeholder="CPF" name="cpf" value="{{ cpf }}">
    
              &nbsp;
            </div>
            <div class="col-md-2">
            </div>

        </div>  

    </div>  

    <div class="row">

        <div class="col-md-6">

          <div class="col-md-2">
          </div>

          <div class="col-md-8">
                          &nbsp;

            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px; margin-bottom:20px">Salvar</button> 
          </div>

          <div class="col-md-2">
          </div>

        </div>

        <div class="col-md-6">
        </div>


    </div>

</form>
{%  endblock %}
