{% extends "layout.html" %}
{% load static %}

{% block css %}{% endblock %}

{% block title %}Nova secretaria{% endblock %}

{% block conteudo %}
<form role="form" action="{% url 'registrar_secretaria' %}" method="post">
  {% csrf_token %}


    <div class="row">

        <div >
             <h2 class="form-signin-heading center-text" style="margin-left: 9%">Cadastrar Secretaria</h2>
            <div class="col-md-4 col-md-offset-1" style="background-color: #eee;">
              
              <label for="firstNameInput" style="margin-top:20px">Primeiro Nome</label>
              <input type="text" class="form-control" id="firstNameInput" placeholder="Primeiro Nome" name="nome" value="{{ nome }}">
      
              <label for="lastName"> Sobrenome</label>
              <input type="text" class="form-control" id="lastNameInput" placeholder="Sobrenome" name="sobrenome" value="{{ sobrenome }}">  

              <label for="emailInput">E-mail</label>
              <input type="email" class="form-control" id="emailInput" placeholder="E-mail" name="email" value="{{ email }}">     

              <label for="userPassword">Senha</label>
              <input type="password" class="form-control"id="passwordInput" placeholder="Senha" name="senha">
 
              <label for="userPassword">Confirmar Senha</label>
              <input type="password" class="form-control"id="passwordInput" placeholder="Confirmar Senha" name="confirmar_senha">
              
              <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px; margin-bottom:20px">Completar Registro</button>  

            </div>
              
            <div class="col-md-4 col-md-offset-1" style="background-color: #eee;padding-bottom:125px">
              <label for="userPassword" style="margin-top:20px">Endereço</label>
              <input type="text" class="form-control"id="" placeholder="Endereço" name="endereco" value="{{ endereco }}">
   
              <label for="userPassword">Telefone</label>
              <input type="text" class="form-control"id="" placeholder="Telefone" name="telefone" value="{{ telefone }}">
   
              <label for="userPassword">RG</label>
              <input type="text" class="form-control"id="" placeholder="RG" name="rg" value="{{ rg }}">
  
              <label for="userPassword">CPF</label>
              <input type="text" class="form-control"id="" placeholder="CPF" name="cpf" value="{{ cpf }}">
    
              &nbsp;
            </div>

      </div>             
    </div>     
</form>
{%  endblock %}
