{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

  <script>
              
      function sleep(millis, callback) {
            setTimeout(function()
                   { callback(); }, millis);
        }

$('body').click(function(){
    $('.msg_padding').slideUp(500, function() { $(this).remove(); });
    $('.msg_bg_error').fadeOut(10, function() { $(this).remove(); });
    $('.msg_bg_success').fadeOut(10, function() { $(this).remove(); });
    $('.msg_bg_info').fadeOut(10, function() { $(this).remove(); });
});

Element.prototype.remove = function() {
    this.parentElement.removeChild(this);
}
NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
    for(var i = 0, len = this.length; i < len; i++) {
        if(this[i] && this[i].parentElement) {
            this[i].parentElement.removeChild(this[i]);
        }
    }
}

  </script>

  {% block javascript %}

  {%  endblock %}


  <link rel="stylesheet" href="{% static "bootstrap-3.2.0-dist/css/bootstrap.min.css"%}"/>
  <link rel="stylesheet" href="{% static "css/style.css"%}"/>

  {% block css %}{% endblock %}

  {% autoescape on %}
	<title>{% block title %}Bem vindo! {% endblock %} - DAS</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">    
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" style="padding:8px;" href="{% url 'index' %}">
	<img height="34" width="34"  src="{% static "media/icon_white.png"%}">
      </a>
      <a class="navbar-brand" href="{% url 'index' %}">
	DAS
      </a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      <!--
        <li class="active"><a href="#">Medicos</a></li>
        <li><a href="#">Consultas</a></li>
        -->
      </ul>
      

      <ul class="nav navbar-nav navbar-right">

        




    {% if not user.is_authenticated %}
      <form class="navbar-form navbar-right" role="form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'index' %}{% endif %}" />
          <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" required />
          </div>
          <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control" required />
          </div>
          <button type="submit" class="btn btn-success">Entrar</button>
      </form>
      <form class="navbar-form navbar-left" action="{% url 'registrar_cliente' %}" role="register">
          <button type="submit" class="btn btn-default">Registrar</button>
        </form>
  {% else %}
          
          {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-flash"></span> Admin</a></li>
          {% endif %}

          <li><a href="{% url 'django.contrib.auth.views.logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
  {% endif %}
      </ul>







    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



  <div class="conteudo">
    {% for message in messages %}
    <div class="msg_bg_{{ message.tags }}">
      <h3>{{ message }}</h3>
    </div>

    <div class="msg_padding"></div>
    {% endfor %}

    {% block conteudo %}
    {% endblock %}
  </div>

  {% endautoescape %}

</body>
</html>
