{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <script src="{% static "js/jquery.min.js"%}" ></script>
  <script src="{% static "bootstrap-3.2.0-dist/js/bootstrap.min.js"%}" ></script>
 
  <script>
              
      function sleep(millis, callback) {
            setTimeout(function()
                   { callback(); }, millis);
        }

function removeMensagemErro(){
    $('.msg_padding').slideUp(500, function() { $(this).remove(); });
    $('.msg_bg_error').fadeOut(10, function() { $(this).remove(); });
    $('.msg_bg_success').fadeOut(10, function() { $(this).remove(); });
    $('.msg_bg_info').fadeOut(10, function() { $(this).remove(); });
}

$( document ).ready(function() {
$('body').click(function(){
    removeMensagemErro();
});

sleep(5000,function(){removeMensagemErro()});

Element.prototype.remove = function() {
    this.parentElement.removeChild(this);
}
NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
    for(var i = 0, len = this.length; i < len; i++) {
        if(this[i] && this[i].parentElement) {
            this[i].parentElement.removeChild(this[i]);
        }
    }
}});

  </script>

  {% block javascript %}

  {%  endblock %}

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "bootstrap-3.2.0-dist/css/bootstrap.min.css"%}"/>
  <link rel="stylesheet" href="{% static "css/style.css"%}"/>

  {% block css %}{% endblock %}

  {% autoescape on %}
	<title>{% block title %}Bem vindo! {% endblock %} - DAS</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">    
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" style="padding:8px;" href="{% url 'index' %}">

      </a>
      <a class="navbar-brand" href="{% url 'index' %}">
	DAS
      </a>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">

    {% if not user.is_authenticated %}
      <form class="navbar-form navbar-left" role="form" action="{% url 'django.contrib.auth.views.login' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'index' %}{% endif %}" />
          <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" required />
          </div>
          <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control" required />
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
      <form class="navbar-form navbar-left" action="{% url 'registrar_cliente' %}" role="register">
          <button type="submit" class="btn btn-default">Cadastrar</button>
      </form>
    {% else %}
        
          {% if user.is_staff %}
              <li><a href="{% url 'clientes' %}"><span class="glyphicon glyphicon-user"></span> Clientes</a></li>
              <li><a href="{% url 'secretarias' %}"><span class="glyphicon glyphicon-user"></span> Secretárias</a></li>
              <li><a href="{% url 'medicos' %}"><span class="glyphicon glyphicon-user"></span> Médicos</a></li>
              <li><a href="{% url 'especializacoes' %}"><span class="glyphicon glyphicon-tags"></span> Especializações</a></li>
              <li><a href="{% url 'convenios' %}"><span class="glyphicon glyphicon-th"></span> Convênios</a></li>
              <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-flash"></span> Admin</a></li>
          {% endif %}

          {% if user.is_secretaria %}
              <li><a href="{% url 'clientes' %}"><span class="glyphicon glyphicon-user"></span> Clientes</a></li>
              <li><a href="{% url 'qrCodeScan' %}"><span class="glyphicon glyphicon-qrcode"></span> Check In</a></li>
              <li><a href="{% url 'convenios' %}"><span class="glyphicon glyphicon-th"></span> Convênios</a></li>
              <li><a href="{% url 'alterar_secretaria' user.id %}"><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} {{ user.last_name }}</a></li>

          {% endif %}

          {% if user.is_medico %}
              <li><a href="{% url 'horarios' %}"><span class="glyphicon glyphicon-time"></span> Horários</a></li>
              <li><a href="{% url 'consultas' %}"><span class="glyphicon glyphicon-list-alt"></span> Consultas</a></li>
              <li><a href="{% url 'alterar_medico' user.id %}"><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} {{ user.last_name }}</a></li>

          {% endif %}

          {% if user.is_cliente %}
              <li><a href="{% url 'registrar_consulta' %}"><span class="glyphicon glyphicon-plus"></span> Nova Consulta</a></li>
              <li><a href="{% url 'consultas' %}"><span class="glyphicon glyphicon-list-alt"></span> Consultas</a></li>
              <li><a href="{% url 'alterar_cliente' user.id %}"><span class="glyphicon glyphicon-user"></span> {{ user.first_name }} {{ user.last_name }}</a></li>

          {% endif %}

          <li><a href="{% url 'django.contrib.auth.views.logout' %}"><span class="glyphicon glyphicon-log-out"></span> Sair</a></li>
  {% endif %}

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="conteudo">
    {% for message in messages %}
    <div class="msg_bg_{{ message.tags }}">
      <h3>{{ message }}</h3>
    </div>

    <div class="msg_padding"></div>
    {% endfor %}

    {% block conteudo_base %}
    {% endblock %}


  {% endautoescape %}

</body>
</html>
