{% extends "layout.html" %}
{% load static %}


{% block javascript %}

<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script language="JavaScript" src="{% static "js/scriptcam.js"%}"></script>
<script language="JavaScript" src="{% static "js/jquery.cookie.js"%}"></script>
<script>

function criaMensagemErro(mensagem, tipo){

    var msg_div = document.createElement('div');
    var msg_div_h3 = document.createElement('h3');
    var msg_div_pad = document.createElement('div');

    var id = escape(mensagem);

    msg_div.className = 'msg_bg_' + tipo;
    msg_div_pad.className = 'msg_padding';

    msg_div_h3.innerHTML = mensagem;
    msg_div.appendChild(msg_div_h3);

    $(msg_div_pad).prependTo('.conteudo').hide().fadeIn('fast');
    $(msg_div).prependTo('.conteudo').hide().fadeIn('fast');
}

function removeMensagemErro(){
    $('.msg_padding').slideUp(500, function() { $(this).remove(); });
    $('.msg_bg_error').fadeOut(10, function() { $(this).remove(); });
    $('.msg_bg_success').fadeOut(10, function() { $(this).remove(); });
    $('.msg_bg_info').fadeOut(10, function() { $(this).remove(); });
}

	        //Variable used to save intervalID in order to stop scanning
	        //when a QrCode has been scanned
	        var intervalID = 0;
	        var csrftoken = "token";


			//Scan and decode qrCode each Tms
			startScanning();

			function startScanning(){
				intervalID = window.setInterval(scanAndDecode,50);	
			}


			function scanAndDecode(){
				var content =  $.scriptcam.getBarCode(); 

				//If the decoded image is a QrCode then
				//stop scanning for a while,
				//call django, then start scanning again
				if(content != ""){
					//Stop Scanning
					clearInterval(intervalID);

					
					//Call send data to django via AJAX
			

                $.post( "/qrCodeScanner/scancode",
    					{'qrCode' : content},
    					function(data, textStatus, xhr){
    						criaMensagemErro("Usuario: "+data.response, "success");
    						sleep(3000,function(){removeMensagemErro()});
					} 
    			); 

					//Start Scanning after 1000ms
					sleep(1000,startScanning);
				}

			}

		$(document).ready(function() {
			$("#webcam").scriptcam({
						onError:onError,
						cornerRadius:0,
						onWebcamReady:onWebcamReady,
						width:480,
						height:360 
			});
			csrftoken = $.cookie('csrftoken');

			function csrfSafeMethod(method) {
		        // these HTTP methods do not require CSRF protection
		        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		    }
		    
		    $.ajaxSetup({
		        beforeSend: function(xhr, settings) {
		            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		                xhr.setRequestHeader("X-CSRFToken", csrftoken);
		            }
		        }
		    });
        });

			function onError(errorId,errorMsg) {
				alert(errorMsg);
			}          
			function changeCamera() {
				$.scriptcam.changeCamera($('#cameraNames').val());
			}
			function onWebcamReady(cameraNames,camera,microphoneNames,microphone,volume) {
				$.each(cameraNames, function(index, text) {
					$('#cameraNames').append( $('<option></option>').val(index).html(text) )
				});
				$('#cameraNames').val(camera);
			}


		</script>

		{% endblock %}

		{% block css %}{% endblock %}

		{% block title %}Bem Vindo!{% endblock %}

		{% block conteudo %}

			<div class="row">
				<h2 class="text-center"> Posicione seu QRCode centralizado na webcam</h2>
				<p></p>
			<div style=" width: 480px; margin:auto;">
				<div id="webcam" style="margin:auto;"> 

				</div>
				<div style="margin:5px; style:margin:auto;">
					<img src="{% static "media/webcamlogo.png"%}" style="vertical-align:text-top"/>
					<select id="cameraNames" size="1" onChange="changeCamera()" style="width:245px;font-size:10px;height:25px;">
					</select>
				</div>
			</div>
			</div>

		{%  endblock %}
