{% extends "layout.html" %}
{% load static %}


{% block javascript %}

<script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script language="JavaScript" src="{% static "js/scriptcam.js"%}"></script>
<script language="JavaScript" src="{% static "js/jquery.cookie.js"%}"></script>
<script>

	        //Variable used to save intervalID in order to stop scanning
	        //when a QrCode has been scanned
	        var intervalID = 0;
	        var csrftoken = " token";


			//Scan and decode qrCode each Tms
			//startScanning();

			$(document).ready(
				function() {
					$("#webcam").scriptcam({
						onError:onError,
						cornerRadius:0,
						onWebcamReady:onWebcamReady });
				}

			);


			function startScanning(){
				intervalID = window.setInterval(scanAndDecode,100);	
			}


			function scanAndDecode(){
				var content =  $.scriptcam.getBarCode(); 

				//If the decoded image is a QrCode then
				//stop scanning for a while,
				//call django, then start scanning again
				if(content != ""){
					//Stop Scanning
					clearInterval(intervalID);

					
					//Call send data to django via AJAX
					//alert(content);
					//alert('{{ csrf_token }}');


					//Start Scanning after 1000ms
					sleep(1000,startScanning);
				}

			}

		$(document).ready(function() {
            $("#button").click(function() {
            	
					$.ajax({
                        url : "/qrCodeScan/scancode", 
                        type : "POST",
                        dataType: "json", 
                        data : {
                            qrCode : "TEEEE",
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success : function(json) {
                                alert("Success!");
                            },
                            error : function(xhr,errmsg,err) {
                                alert(xhr.status + ": " + xhr.responseText);
                            }
                    });
					return false;
					  });
        });

			function onError(errorId,errorMsg) {
				alert(errorMsg);
			}          
			function changeCamera() {
				$.scriptcam.changeCamera($('#cameraNames').val());
			}
			function onWebcamReady(cameraNames,camera,microphoneNames,microphone,volume) {
				$.each(cameraNames, function(index, text) {
					$('#cameraNames').append( $('<option></option>').val(index).html(text) )
				});
				$('#cameraNames').val(camera);
			}


		</script>

		{% endblock %}

		{% block css %}{% endblock %}

		{% block title %}Bem Vindo!{% endblock %}

		{% block conteudo %}
		<form method="POST" name = "webcamForm" id = "webcamForm">
		{% csrf_token %}
			<div style="width:500px;float:left;">
				<div id="webcam"> 

				</div>
				<div style="margin:5px;">
					<img src="{% static "media/webcamlogo.png"%}" style="vertical-align:text-top"/>
					<select id="cameraNames" size="1" onChange="changeCamera()" style="width:245px;font-size:10px;height:25px;">
					</select>
				</div>
			</div>
			<input id="button" type="button" value="send to server"></input>
		</form>
		{%  endblock %}
