{% extends "layout.html" %}
{% load static %}

{% block css %}{% endblock %}

{% block title %}Cadastro{% endblock %}

{% block conteudo %}


<script type="text/javascript" language="javascript">

    function showHide() {
        var list = document.getElementsByClassName("showHideDiv");
            for (var i = 0; i < list.length; i++) {
                if(list[i].style.display == "block"){
                    list[i].style.display = "none";
                }
                else {
                    list[i].style.display = "block";
                }
            }
    }
</script>

<form role="form" action="{% url 'registrar_cliente' %}" method="post">
  {% csrf_token %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="background-color: #eee;">
           
            <div class="showHideDiv" style="display:block">
              <h2 class="form-signin-heading">Cadastrar</h2>

              <label for="emailInput">E-mail</label>
              <input type="email" class="form-control" id="emailInput" placeholder="email" name="email" value="{{ form.email }}"> 
              <label for="userPassword">Senha</label>    
              <input type="password" class="form-control"id="passwordInput" placeholder="******" name="senha">
              <label for="userPassword">Confirmar Senha</label>
              <input type="password" class="form-control"id="passwordInput" placeholder="******" name="confirmar_senha">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="novidades" value="sim"> Quero receber novidades sobre o DAS!
                </label>
              </div> 
            <form method="post" action="">
                <button class="btn btn-lg btn-primary btn-block" type="button" onclick="return showHide();" style="margin-top: 20px; margin-bottom: 20px" >Continuar</button>
            </form> 
            </div>
      
            <div class="showHideDiv" style="display:none;">
              <h2 class="form-signin-heading">Quase pronto!</h2>
              <label for="firstNameInput">Primeiro Nome</label>
              <input type="text" class="form-control" id="firstNameInput" placeholder="Primeiro Nome" name="nome">
              
              <label for="lastNameInput">Sobrenome</label>
              <input type="text" class="form-control" id="lastNameInput" placeholder="Sobrenome" name="sobrenome"> 
              
              <label for="userPassword">Endereco</label> 
              <input type="text" class="form-control"id="" placeholder="Endereço" name="endereco">
              
              <label for="userPassword">Telefone</label>
              <input type="text" class="form-control"id="" placeholder="Telefone" name="telefone">
              
              <label for="userPassword">RG</label>
              <input type="text" class="form-control"id="" placeholder="RG" name="rg">
              
              <label for="userPassword">CPF</label>
              <input type="text" class="form-control"id="" placeholder="CPF" name="cpf"> 
              <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px; margin-bottom: 20px">Completar Registro!</button>

            </div>             
        </div>     
    </div>
</form>
{%  endblock %}
