{% extends "layout.html" %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "css/bootstrap-timepicker.min.css"%}"/>{% endblock %}

{% block title %}Novo Horario{% endblock %}

{% block conteudo %}
<h1>Cadastro de novo Médico:</h1>
<form role="form" action="{% url 'registrar_horario' %}" method="post">
  {% csrf_token %}
  <div class="row">
  	<div class="form-group">
		<div class="col-md-2" >
	    	<label for="firstNameInput">Dia</label>
        <select id="dia" class="form-control" name="dia">
            <option value="1">Segunda-feira</option>
            <option value="2">Terca-feira</option>
            <option value="3">Quarta-feira</option>
            <option value="4">Quinta-feira</option>
            <option value="5">Sexta-feira</option>
            <option value="6">Sabado</option>
            <option value="7">Domingo</option>
        </select>
	 	</div>
    </div>
  </div>

    <div class="row">
    <div class="form-group">
	  	<div class="col-md-2">
	  		<label for="lastName">Horario Inicial</label>
	  		<input type="text" class="timepicker" id="lastNameInput" placeholder="h:mm PM" name="data_inicio" data-default-time="false">	
		</div>  	  		
  	</div>
  </div>

  <div class="row">
 	 <div class="form-group">
 		<div class ="col-md-4">
		    <label for="emailInput">Horario Final</label>
   		    <input type="text" class="timepicker" id="lastNameInput" placeholder="h:mm PM" name="data_final" data-default-time="false">		
 		</div>
 	 </div>
  </div>

  <div class="form-group">
      <div class="row">
        <div class="col-xs-2">
          <button type="submit" class="btn btn-success"  >Cadastrar!</button>
        </div>  
      </div>  	
  </div>
</form>

<script>
$( document ).ready(function() {
$('.timepicker').timepicker();
});
</script>
{%  endblock %}
