{% extends "layout.html" %}
{% load static %}

{% block css %}{% endblock %}

{% block title %}Médicos{% endblock %}

{% block conteudo %}

	<a href="{% url 'registrar_medico' %}"> <button type="button" class="btn btn-success"> Inserir novo medico </button> </a>

	<h2 class="lead">  Medicos cadastrados no sistema</h2>
    <div class="panel panel-default">
	<table class="table table-striped table-hover">
        <thead  id="cabecalho">
            <tr>
                <th style="text-align:center"> Nome</th>
                <th> Especializacao</th>
                <th> Email</th>
                <th> CRM</th>
                <th> Duracao da Consulta</th>
                <th> Horario de Inicio do expediente</th>
                <th> Horario de saida</th>
                <th style="text-align:center"> Editar</th>
                <th style="text-align:center"> Excluir</th>
            </tr>
        </thead>
        <tbody>
        {% for m in medicos %}
            <tr>
                <td>{{ m.first_name }} {{ m.last_name }}</td>                
                <td></td>
                <td>{{ m.username }}</td>
                <td>{{ m.crm }}</td>
                <td>{{ m.duracao_consulta }}</td>
                <td></td>
                <td></td>
                <td> <button type="button" class="btn btn-success">Editar</button> </td>
                <td>
                    <form role="form" action="/medicos/{{ m.crm }}/remover" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" name="remover" value="{{m.crm}}">Remover</button>    
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
	

{% endblock %}