{% extends "layout.html" %}
{% load static %}

{% block javascript %}
<script language="JavaScript" src="{% static "js/jquery.cookie.js"%}"></script>
	<script>
		var csrftoken = "token";

		$(document).ready(function(){
				$('#especializacao').on('change', function() {
					//alert( this.value );
					  $.post( "/consultas/listarMedicosEspec",
    					{'especId' : this.value},
    					function(data, textStatus, xhr){
						  	alert(data.response);
						  // var jsonData = JSON.parse(data.response);
							//alert(jsonData.counters.length);
						}
    				); 

				});
			

				csrftoken = $.cookie('csrftoken');

				function csrfSafeMethod(method) {
			        // these HTTP methods do not require CSRF protection
			        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			    }
			    
			    $.ajaxSetup({
			        beforeSend: function(xhr, settings) {
			            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			                xhr.setRequestHeader("X-CSRFToken", csrftoken);
			            }
			        }
			    });
			}
		);
	</script>

{% endblock%}

{% block css %}{% endblock %}

{% block title %}DAS - Cadastro de Consulta{% endblock %}

{% block conteudo %}
<h1>Marcar consulta</h1>
<form role="form" action="{% url 'registrar_consulta' %}" method="post">
	<div class="row">
		<div class="form-group">
			<div class="col-md-4">
				<label for="lespec">Selecione uma especialização</label>
				
					<select class="form-control" name="especializacao" id="especializacao">
						{% for esp in especializacoes %}
							<option name="espec_item" id="espec_item" value="{{ esp.id }}"> {{ esp.nome }} </option>
						{% endfor %}
					</select>
				
			</div>
		</div>
	</div>
</form>

{%  endblock %}
