{% extends "layout.html" %}
{% load static %}

{% block css %}{% endblock %}

{% block title %}DAS - Cadastro de Consulta{% endblock %}

{% block conteudo %}

<h1>Marcar consulta</h1>
<div class = "row">
	<div class="form-group">
			<div class="col-md-3">
				<h4>Especialização</h4>
				<h5> {{ especializacao.nome }} </h5>
				<input type="hidden" value="{{especializacao.id}}" id="especializacao">
			</div>

			<div class="col-md-3">
				<h4>Médico</h4>
				<h5>{{ medico.nome }} {{medico.sobrenome}}</h5>
				<input type="hidden" value="{{medico.id}}" id="medico">
			</div>

			<div class="col-md-2">
				<h4>Data</h4>
				<h5>{{ data_consulta }}</h5>
				<input type="hidden" value="{{data_consulta}}" id="data_consulta">
			</div>
	</div>
</div>
&nbsp;
<div class = "row">
		<div class="form-group">
			<div class="col-md-8">
				<h4>Escolha um Horário</h4>
			</div>
	</div>
</div>

{% endblock %}