{% extends "layout.html" %}
{% load static %}

{% block javascript %}
<script language="JavaScript" src="{% static "js/jquery.cookie.js"%}"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js" ></script>
<link rel="stylesheet" href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css"/>
	<script>
		var csrftoken = "token";



		$(document).ready(function(){

				//Listar médicos de uma dada especialisação
				$('#select_especializacao').on('change', function() {
					//Limpar lista de médicos
					var select_medico = document.getElementById("select_medico");
					while (select_medico.firstChild) {
					    select_medico.removeChild(select_medico.firstChild);
					}

					//Travar botão próximo
					$('#btn_next').prop('disabled', true);

					//Carregar médicos
					if(this.value != "Selecione"){
					  $.post( "/consultas/listarMedicosEspec",
	    					{'especId' : this.value},
	    					function(data, textStatus, xhr){
							  	//listar médicos
							  		var med_nome_option = document.createElement("option");
									var med_nome_label = document.createTextNode("Selecione");
									med_nome_option.appendChild(med_nome_label);
									var med_select = document.getElementById("select_medico");
									med_select.appendChild(med_nome_option);

								for(var i = 0; i <   data.response.length; i++){
									//alert(data.response[i].nome);
									var med_nome_option = document.createElement("option");
									var med_nome_label = document.createTextNode(data.response[i].nome+" "+data.response[i].sobrenome+" - CRM "+data.response[i].crm);
									med_nome_option.appendChild(med_nome_label);
									med_nome_option.setAttribute("value",data.response[i].id);
									var med_select = document.getElementById("select_medico");
									med_select.appendChild(med_nome_option);
								}
							}
	    				); 
					}

				});
			
				
				//Habilitar bõtão próximo caso um médico seja selecionado
				$('#select_medico').on('change',function(){
					if(this.value !="Selecione"){
						$('#btn_next').prop('disabled', false);
					}
				});

				//Recuperar cookie para evitar CSRF
				csrftoken = $.cookie('csrftoken');

				function csrfSafeMethod(method) {
			        // these HTTP methods do not require CSRF protection
			        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			    }
			    
			    $.ajaxSetup({
			        beforeSend: function(xhr, settings) {
			            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			                xhr.setRequestHeader("X-CSRFToken", csrftoken);
			            }
			        }
			    });

			}
		);
	</script>

{% endblock%}

{% block css %}{% endblock %}

{% block title %}DAS - Cadastro de Consulta{% endblock %}

{% block conteudo %}
<h1>Marcar consulta</h1>
<form role="form" action="{% url 'registrar_consulta_horario' %}" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="form-group">
			<div class="col-md-4">
				<label for="lespec">Especialização</label>
				
					<select class="form-control" name="select_especializacao" id="select_especializacao">
							<option>Selecione</option>
						{% for esp in especializacoes %}
							<option name="espec_item" id="espec_item" value="{{ esp.id }}"> {{ esp.nome }} </option>
						{% endfor %}
					</select>
				
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group">
			<div class = "col-md-4">
				<label for="lmedico">Médico</label>
				<select class="form-control" name="select_medico" id="select_medico"></select>
			</div>
		</div>
	</div>
	
	<div class = "row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="ldata">Data desejada</label>
				
				<div class="input-group date">
	           		 <input type="text" class="form-control" id = "data_consulta" name = "data_consulta" readonly><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
	        	</div>

				<script>

					var today = new Date();
					var dd = today.getDate();
					var mm = today.getMonth()+1;
					var yyyy = today.getFullYear();

					if(dd<10) {
					    dd='0'+dd
					} 

					if(mm<10) {
					    mm='0'+mm
					} 

					today = dd+'-'+mm+'-'+yyyy;
	
				    $('.input-group.date').datepicker({
				        format: "dd/mm/yyyy",
				        startDate: today,
				        endDate: "31-12-2016",
				        todayBtn: "linked",
				        autoclose: true,
				        todayHighlight: true
				    });
				</script>
	
			</div>
		</div>
	</div>
	&nbsp;
	<div class = "row">
		<div class="col-md-2">
			<div class="form-group">
				<button class="btn btn-default" type="submit" id="btn_next" disabled>Próximo</button>
			</div>
		</div>
	</div>
</form>



{%  endblock %}
