{% extends "layout.html" %}
{% load static %}

{% block javascript %}
<script language="JavaScript" src="{% static "js/jquery.cookie.js"%}"></script>
<script src="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js" ></script>
<link rel="stylesheet" href="http://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css"/>
	<script>
		var csrftoken = "token";
		var gambiarra_data = 0;


		$(document).ready(function(){

				//Listar médicos de uma dada especialisação
				$('#select_especializacao').on('change', function() {
					//Limpar lista de médicos
					var select_medico = document.getElementById("select_medico");
					while (select_medico.firstChild) {
					    select_medico.removeChild(select_medico.firstChild);
					}

					//Limpar lista de horário
					var select_horario = document.getElementById("select_horario");
					while(select_horario.firstChild){
						select_horario.removeChild(select_horario.firstChild);
					}

					//Limpar campo duração da consulta
					document.getElementById("duracao").setAttribute("value","")

					//Travar botão próximo
					$('#btn_next').prop('disabled', true);

					//Carregar médicos
					if(this.value != "Selecione"){
					  	$.post( "/consultas/listarMedicosEspec",
	    					{'especId' : this.value},
	    					function(data, textStatus, xhr){
	    						//Carregar Opção Selecionar médico
								var med_nome_option = document.createElement("option");
								var med_nome_label = document.createTextNode("Selecione");
								med_nome_option.appendChild(med_nome_label);
								med_nome_option.setAttribute("value","NAOVALIDO")
								var med_select = document.getElementById("select_medico");
								med_select.appendChild(med_nome_option);
							  	
							  	//listar médicos
								for(var i = 0; i <   data.response.length; i++){
									//alert(data.response[i].nome);
									var med_nome_option = document.createElement("option");
									var med_nome_label = document.createTextNode(data.response[i].nome+" "+data.response[i].sobrenome+" - CRM "+data.response[i].crm);
									med_nome_option.appendChild(med_nome_label);
									med_nome_option.setAttribute("value",data.response[i].id);
									var med_select = document.getElementById("select_medico");
									med_select.appendChild(med_nome_option);
								}
								
							}
	    				); 
					}else{
						//Carregar Opção Selecionar médico
						var med_nome_option = document.createElement("option");
						var med_nome_label = document.createTextNode("Selecione uma especialização");
						med_nome_option.appendChild(med_nome_label);
						med_nome_option.setAttribute("value","NAOVALIDO")
						var med_select = document.getElementById("select_medico");
						med_select.appendChild(med_nome_option);
					}

				});
			
				//Carregar horários disponíveis para um médico
				$('#select_medico').on('change',function(){

					//Limpar lista de horário
					var select_horario = document.getElementById("select_horario");
					while(select_horario.firstChild){
						select_horario.removeChild(select_horario.firstChild);
					}

					//Limpar campo duração da consulta
					document.getElementById("duracao").setAttribute("value","")

					//Travar botão próximo
					$('#btn_next').prop('disabled', true);
					data_consulta = document.getElementById('data_consulta').value; 
					//Carregar horários caso houve data selecionada
					if(data_consulta!=""){
							$.post("/consultas/listarHorario",{'medico':this.value,'data_consulta':data_consulta},
								function(data, textStatus, xhr){
									popularHorario(data);
							});
						}
				   

				}); 

				$('#data_consulta').on('change',function(){
					
					gambiarra_data++;
					if(gambiarra_data%3 == 0){
						//Travar botão próximo
						$('#btn_next').prop('disabled', true);

						//Limpar lista de horário
						var select_horario = document.getElementById("select_horario");
						while(select_horario.firstChild){
							select_horario.removeChild(select_horario.firstChild);
						}
			
						if(document.getElementById('select_medico').value !="NAOVALIDO" ){
							$.post("/consultas/listarHorario",{'medico':document.getElementById('select_medico').value,'data_consulta':this.value},
								function(data,textStatus,xhr){
									popularHorario(data);
								});
						}
						gambiarra_data = 0;
					}
				});


				$('#select_horario').on('change',function(){
					if(this.value !="Selecione"){
						$('#btn_next').prop('disabled', false);
					}else{
						$('#btn_next').prop('disabled',true);
					}				
				});

				//Recuperar cookie para evitar CSRF
				csrftoken = $.cookie('csrftoken');

				function csrfSafeMethod(method) {
			        // these HTTP methods do not require CSRF protection
			        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			    }

			    function popularHorario(data){
			    	if(data.horarios[0]!="SH"){
						//listar horários disponíveis
				  		var horario_option = document.createElement("option");
						var horario_label = document.createTextNode("Selecione");
						horario_option.appendChild(horario_label);
						var horario_select = document.getElementById("select_horario");
						horario_select.appendChild(horario_option);	

						for(var i = 0; i <  data.horarios.length; i++){
							//alert(data.response[i].nome);
							var horario_option = document.createElement("option");
							var horario_label = document.createTextNode(data.horarios[i]);
							horario_option.appendChild(horario_label);
							horario_option.setAttribute("value",data.horarios[i]);
							var horario_select = document.getElementById("select_horario");
							horario_select.appendChild(horario_option);
						}
						document.getElementById("duracao").setAttribute("value",data.duracao)
					}else{
						var horario_option = document.createElement("option");
						var horario_label = document.createTextNode("Não há horario disponível neste dia");
						horario_option.appendChild(horario_label);
						horario_option.setAttribute("value","NAOVALIDO")
						var horario_select = document.getElementById("select_horario");
						horario_select.appendChild(horario_option);	
					}
			    }
			    
			    $.ajaxSetup({
			        beforeSend: function(xhr, settings) {
			            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			                xhr.setRequestHeader("X-CSRFToken", csrftoken);
			            }
			        }
			    });

			}
		);
	</script>

{% endblock%}

{% block css %}{% endblock %}

{% block title %}DAS - Cadastro de Consulta{% endblock %}

{% block conteudo %}
<h1>Marcar consulta</h1>
<form role="form" action="{% url 'registrar_consulta_resumo' %}" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="form-group">
			<div class="col-md-4">
				<label for="lespec">Especialização</label>
				
					<select class="form-control" name="select_especializacao" id="select_especializacao">
							<option>Selecione</option>
						{% for esp in especializacoes %}
							<option name="espec_item" id="espec_item" value="{{ esp.id }}"> {{ esp.nome }} </option>
						{% endfor %}
					</select>
				
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="form-group">
			<div class = "col-md-4">
				<label for="lmedico">Médico</label>
				<select class="form-control" name="select_medico" id="select_medico">
						<option value="NAOVALIDO">Selecione uma especialização</option> 
				</select>
			</div>
		</div>
	</div>
	
	<div class = "row">
		<div class="col-md-2">
			<div class="form-group">
				<label for="ldata">Data desejada</label>
				
				<div class="input-group date">
	           		 <input type="text" class="form-control" id = "data_consulta" name = "data_consulta" readonly><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
	        	</div>

				<script>

					var today = new Date();
					var dd = today.getDate();
					var mm = today.getMonth()+1;
					var yyyy = today.getFullYear();

					if(dd<10) {
					    dd='0'+dd
					} 

					if(mm<10) {
					    mm='0'+mm
					} 

					today = dd+'-'+mm+'-'+yyyy;
	
				    $('.input-group.date').datepicker({
				        format: "dd/mm/yyyy",
				        startDate: today,
				        endDate: "31-12-2016",
				        todayBtn: "linked",
				        autoclose: true,
				        todayHighlight: true
				    });
				</script>
	
			</div>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-2">
			<div class = "form-group">
				<label for ="lhorario">Horários disponíveis</label>		
				<select class="form-control" name="select_horario" id="select_horario"></select>		
			</div>
		</div>
		<div class = "col-md-2">
			<label for="lduracao">Duração média em minutos</label>
			<input class="form-control" type="text" id="duracao" name="duracao" readonly="true">
		</div>
	</div>
	&nbsp;
	<div class = "row">
		<div class="col-md-2">
			<div class="form-group">
				<button class="btn btn-default" type="submit" id="btn_next" disabled>Próximo</button>
			</div>
		</div>
	</div>
</form>



{%  endblock %}
